// start base 
$max-width: 1520px;
$main-font: 'armegoe', 'Courier New', Courier, monospace;

$main_garadient: linear-gradient(90.12deg, #FD4D53 0%, #674DFD 50.26%, #F9A953 99.96%);
$text-color: #000;
$text-accent-color: #0000C3;
$red-accent-color: #FF8080;
$blue-accent-color: #8080E1;
$orange-accent-color: #FBC98F;

$border: 3px solid #000;
$border_accent: 3px solid $text-accent-color;

@mixin transition ($property){
    -webkit-transition: $property 0.3s ease 0s;
    -moz-transition: $property 0.3s ease 0s;
    -o-transition: $property 0.3s ease 0s;
    transition: $property 0.3s ease 0s;
}

body{
    font-family: $main-font;
}

.margin{
    margin-top: 100px;
}

.wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    min-height: 100%;
    min-width: 320px;
}

.page_width {
    padding: 0px 50px;
    margin: 0 auto;
    left: 0;
    top: 0;
    max-width: $max-width;
    position: relative;

}
@media screen and (max-width: 1024px){
    .page_width{
        padding: 0 30px;
    }
}
@media screen and (max-width: 425px){
    .page_width{
        padding: 0 20px;
    }
}

.margin{
    margin-top: 100px;
}

h1, .h1, h2, .h2, h3, .h3{
    text-transform: capitalize;
    color: $text-accent-color;
}

h1, .h1{
    font-size: 96px;
}
@media screen and (max-width:900px) {
    .h1{
        font-size: 75px;
    }
}
@media screen and (max-width:700px) {
    .h1{
        font-size: 65px;
    }
}
@media screen and (max-width:590px) {
    .h1{
        font-size: 45px;
    }
}
@media screen and (max-width:490px) {
    .h1{
        font-size: 35px;
    }
}

h2, .h2{
    font-size: 48px;
    margin-bottom: 80px;
}

@media screen and (max-width:600px) {
    h2, .h2{
        font-size: 38px;
    }
}
@media screen and (max-width:500px) {
    h2, .h2{
        font-size: 30px;
    }
}
@media screen and (max-width:400px) {
    h2, .h2{
        font-size: 25px;
    }
}

p{
    font-size: 14px;
    line-height: 20px;
}
.button_center{
    text-align: center;
}
.button{
    display: inline-block;
    padding: 20px;
    // overflow: hidden;
    box-sizing: border-box;
    background-color: #000;
    color: #fff;

    position: relative;

    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;

    input{
        background-color: transparent;
        text-transform: uppercase;
        font-family: $main-font;
    }
    span, input{
        text-transform: uppercase;
        width: 100%;
        height: 100%;
        display: block;

        color: #fff;
        position: relative;
        z-index: 2;

        @include transition(all);
    }

    &:hover{

        span{
            color: #fff;
        }
        background-color: transparent;

        
        &::before{
                // height: 100%;
            bottom: 0%;
            top: auto;
            height: 100%;
         }
    }

    &::before{
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 0%;
        z-index: 1;
        background-color: $text-accent-color;

        transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    }

    &.white_blue{
        span{
            color: #fff;
        }
        background-color: transparent;

        &::before{
            background-color: #fff;
        }

        &:hover{
            span{
                color: $text-accent-color;
            }
        }

    }
}

.arrow_button{
    display: block;
    cursor: pointer;
    width: auto;
    box-sizing: border-box;
    position: relative;

    @include transition(all);

    &:hover{
        opacity: 0.5;
    }

    img{
        display: block;
        width: auto;
    }
    span{
        position: absolute;
        left: 0;
        width: auto;
        display: block;
        opacity: 0.5;
        color: $text-accent-color;
    }
}

.img_wrapper{
    position: relative;
    overflow: hidden;

    img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

// .circle{
//     width: 200px;
//     height: 200px;
//     border-radius: 50%;
//     background-image: $main_garadient;
//     // position: absolute;
//     // transform: rotate(20deg) translateY(-20px);

//     &.circle_50{
//         width: 100px;
//         height: 100px;
//     }

//     &.circle_150{
//         width: 300px;
//         height: 300px;
//     }


// }

////////////////////////
.mouse-parallax {
    height: 500px;
    position: relative;
}
.circle{
    background-color: violet;
    position: absolute;
    transition: all 0.1s ease;  

    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: $main_garadient;

    &.circle_50{
        width: 100px;
        height: 100px;
        background-image: linear-gradient(120.12deg, #FD4D53 0%, #674DFD 50.26%, #F9A953 99.96%);

    }
        
    &.circle_150{
        width: 300px;
        height: 300px;
        background-image: linear-gradient(-120.12deg, #FD4D53 0%, #674DFD 50.26%, #F9A953 99.96%);
    }

    &.circle_30{
        width: 70px;
        height: 70px;
        background: linear-gradient(-100deg, #F94D57 0%, #694DFB 46.88%, #FCAB4F 100%);
    }
}

.breadcrumbs_wrapper{
    margin-top: 120px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
    border-bottom: $border;
}

.breadcrumbs{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
    // margin-bottom: -20px;
    // padding-bottom: 20px;
    li{
        vertical-align: middle;
        align-items: center;
    }
    a, 
    span{
        // margin-bottom: 20px;
        font-size: 14px;
        line-height: 30px;
        text-transform: capitalize;
        color: #000;
        // display: inline-block;
        vertical-align: middle;
        align-items: center;
        // color: #fff;
    }
    a:hover{
        text-decoration: underline;
    }
    a:after{
        content: '\2192';
        display: inline-block;
        width: 25px;
        height: 10px;
        font-size: 40px;
        color: #000;
        opacity: 60%;
        margin-left: 10px;
        margin-right: 10px;
    }
    .active{
        opacity: 60%;
        margin-top: 5px;
    }
}
@media screen and (max-width:840px){
    .breadcrumbs{
        margin-top: 0px;
    }
}


.pagination{
    width: 100%;
    text-align: center;
    ul{
        width: auto;
        // display: flex;
        align-items: center;
        vertical-align: middle;
        margin: 0 auto;

        li{
            display: inline-block;
        }
        a{
            display: block;
            padding: 5px;
            font-size: 20px;
            margin: 10px;
            color: #000;

            @include transition(all);

            &:hover{
                color: $text-accent-color;
                font-size: 30px;
            }
        }

        .arrov{
            font-size: 50px;
            // margin-top: -3px;
            // display: block;

            &:hover{
                font-size: 50px;
            }
        }
    }
}

.like{
    width: 60px;
    display: block;
    opacity: 0.5;
    cursor: pointer;
    margin-top: 80px;
    svg{
        object-fit: contain;
        object-position: top right;
        fill: $text-accent-color;
        vertical-align: middle;
    }
    span{
        color: $text-accent-color;
    }

    &.liked{
        opacity: 1;
    }
}
// end base 