// start base 
$max-width: 1520px;
$main-font: 'Armegoe', 'Courier New', Courier, monospace;

$main_garadient: linear-gradient(90.12deg, #FD4D53 0%, #674DFD 50.26%, #F9A953 99.96%);
$text-color: #000;
$text-accent-color: #0000C3;
$red-accent-color: #FF8080;
$blue-accent-color: #8080E1;
$orange-accent-color: #FBC98F;

$border: 3px solid #000;
$border_accent: 3px solid $text-accent-color;

@mixin transition ($property){
    -webkit-transition: $property 0.3s ease 0s;
    -moz-transition: $property 0.3s ease 0s;
    -o-transition: $property 0.3s ease 0s;
    transition: $property 0.3s ease 0s;
}

body{
    font-family: $main-font;
}

.margin{
    margin-top: 100px;
}

.wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    min-height: 100%;
    min-width: 320px;
}

.page_width {
    padding: 0px 50px;
    margin: 0 auto;
    left: 0;
    top: 0;
    max-width: $max-width;
    position: relative;

}
@media screen and (max-width: 1024px){
    .page_width{
        padding: 0 30px;
    }
}
@media screen and (max-width: 425px){
    .page_width{
        padding: 0 20px;
    }
}

.margin{
    margin-top: 100px;
}

h1, .h1, h2, .h2, h3, .h3{
    text-transform: capitalize;
    color: $text-accent-color;
}

h1, .h1{
    font-size: 96px;
}
@media screen and (max-width:900px) {
    .h1{
        font-size: 75px;
    }
}
@media screen and (max-width:700px) {
    .h1{
        font-size: 65px;
    }
}
@media screen and (max-width:590px) {
    .h1{
        font-size: 45px;
    }
}
@media screen and (max-width:490px) {
    .h1{
        font-size: 35px;
    }
}

h2, .h2{
    font-size: 48px;
    margin-bottom: 80px;
}

@media screen and (max-width:600px) {
    h2, .h2{
        font-size: 38px;
    }
}
@media screen and (max-width:500px) {
    h2, .h2{
        font-size: 30px;
    }
}
@media screen and (max-width:400px) {
    h2, .h2{
        font-size: 25px;
    }
}

p{
    font-size: 14px;
    line-height: 20px;
}






.big{
    text-transform: uppercase;
}
.button_center{
    text-align: center;
}
.button{
    cursor: pointer;
    display: inline-block;
    padding: 20px;
    // overflow: hidden;
    box-sizing: border-box;
    background-color: #000;
    color: #fff;

    position: relative;

    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;

    span, input{
        text-transform: uppercase;
        width: 100%;
        height: 100%;
        display: block;

        color: #fff;
        position: relative;
        z-index: 2;

        padding: 0px;

        @include transition(all);
    }

    input{
        background-color: transparent;
        text-transform: uppercase;
        font-family: $main-font;
        border: none;
        box-shadow: none;
        padding: 0px;
        border: none;
    }

    &:hover{

        span{
            color: #fff;
        }
        background-color: transparent;

        
        &::before{
                // height: 100%;
            bottom: 0%;
            top: auto;
            height: 100%;
         }
    }

    &::before{
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 0%;
        z-index: 1;
        background-color: $text-accent-color;

        transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    }

    &.white_blue{
        span{
            color: #fff;
        }
        background-color: transparent;

        &::before{
            background-color: #fff;
        }

        &:hover{
            span{
                color: $text-accent-color;
            }
        }

    }

    &.none_active{
        background-color: #000;
        opacity: 0.5;
        cursor: auto;

        &:hover{
            &::before{
                background-color: #000;
                height: 0;
            }
        }
    }
}
.arrow_but{
    position: relative;

    padding-right: 100px;


    &::after{
        content: '';
        position: absolute;
        right: 20px;
        top: 50%;
        width: 15px;
        height: 15px;
        border-bottom: 3px solid #fff;
        border-right: 3px solid #fff;
        transform: rotate(-45deg) translateY(-50%);
        z-index: 2;
    }
}
.arrow_button{
    display: block;
    cursor: pointer;
    width: auto;
    box-sizing: border-box;
    position: relative;

    @include transition(all);

    &:hover{
        opacity: 0.5;
    }

    img{
        display: block;
        width: auto;
    }
    span{
        position: absolute;
        left: 0;
        width: auto;
        display: block;
        opacity: 0.5;
        color: $text-accent-color;
    }
}

.img_wrapper{
    position: relative;
    overflow: hidden;

    img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

// .circle{
//     width: 200px;
//     height: 200px;
//     border-radius: 50%;
//     background-image: $main_garadient;
//     // position: absolute;
//     // transform: rotate(20deg) translateY(-20px);

//     &.circle_50{
//         width: 100px;
//         height: 100px;
//     }

//     &.circle_150{
//         width: 300px;
//         height: 300px;
//     }


// }

////////////////////////
.mouse-parallax {
    height: 500px;
    position: relative;
}
.circle{
    background-color: violet;
    position: absolute;
    transition: all 0.1s ease;  

    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: $main_garadient;

    &.circle_50{
        width: 100px;
        height: 100px;
        background-image: linear-gradient(120.12deg, #FD4D53 0%, #674DFD 50.26%, #F9A953 99.96%);

    }
        
    &.circle_150{
        width: 300px;
        height: 300px;
        background-image: linear-gradient(-120.12deg, #FD4D53 0%, #674DFD 50.26%, #F9A953 99.96%);
    }

    &.circle_30{
        width: 70px;
        height: 70px;
        background: linear-gradient(-100deg, #F94D57 0%, #694DFB 46.88%, #FCAB4F 100%);
    }
}

.breadcrumbs_wrapper{
    margin-top: 120px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
    border-bottom: $border;
}

.breadcrumbs{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
    // margin-bottom: -20px;
    // padding-bottom: 20px;
    li{
        vertical-align: middle;
        align-items: center;
    }
    a, 
    span{
        // margin-bottom: 20px;
        font-size: 14px;
        line-height: 30px;
        text-transform: capitalize;
        color: #000;
        // display: inline-block;
        vertical-align: middle;
        align-items: center;
        // color: #fff;
    }
    a:hover{
        text-decoration: underline;
    }
    a:after{
        content: '\2192';
        display: inline-block;
        width: 25px;
        height: 10px;
        font-size: 40px;
        color: #000;
        opacity: 60%;
        margin-left: 10px;
        margin-right: 10px;
    }
    .active{
        opacity: 60%;
        margin-top: 5px;
    }
}
@media screen and (max-width:840px){
    .breadcrumbs{
        margin-top: 0px;
    }
}




.pagination{
    width: 100%;
    text-align: center;
    ul{
        width: auto;
        // display: flex;
        align-items: center;
        vertical-align: middle;
        margin: 0 auto;

        li{
            display: inline-block;
        }
        a{
            display: block;
            padding: 5px;
            font-size: 20px;
            margin: 10px;
            color: #000;

            @include transition(all);

            &:hover{
                color: $text-accent-color;
                font-size: 30px;
            }
        }

        .arrov{
            font-size: 50px;
            // margin-top: -3px;
            // display: block;

            &:hover{
                font-size: 50px;
            }
        }
    }
}









.discussion_page{
    .likes{
        margin: 0 auto;
        text-align: center;
        
    } 
}

// .likes{
//     // margin: 80px -10px 0 -10px;
    
// }
.like{
    // width: 60px;
    display: inline-block;
    opacity: 0.5;
    cursor: pointer;
    margin-top: 80px;
    svg{
        object-fit: contain;
        object-position: top right;
        fill: $text-accent-color;
        // fill: #9AEB84;
        vertical-align: middle;
    }
    span{
        color: $text-accent-color;
        text-transform: capitalize;
        // color: #9AEB84;
    }

    &.liked{
        opacity: 1;
        svg{
            fill: #9AEB84;
        }
        span{
            color: #9AEB84;
        }
    }

    &.dislike{

        margin-left: 30px;
        svg{
            transform: rotate(180deg);
            // fill: $red-accent-color;
        }

        span{
            // color: $red-accent-color;
        }

        &.liked{
            opacity: 1;
            svg{
                fill: $red-accent-color;
            }
            span{
                color: $red-accent-color;
            }
        }
    }
}


.percent{
    display: block;
    margin: 50px auto 0 auto;
    text-align: center;

    .big{
        margin-top: 20px;
        font-size: 40px;
        display: block;
        color: $text-accent-color;
    }
}



.edit{
    border-bottom: $border;

    text-align: right;
}





.discussions_page,
.members_page{
    .filter{
        position: relative;
        .filter_button{
            font-size: 24px;

            position: absolute;
            top: 35px;
            left: 0;
            text-transform: uppercase;

            cursor: pointer;

            @include transition(all);
            padding-left: 30px;

            &:hover{
                color: $text-accent-color;
                &::before{
                    border-bottom: $border_accent;
                    border-right: $border_accent;

                }
            }

            &::before{
                content: '';
                position: absolute;
                left: 0;
                top: 50%;
                margin-top: -15px;
                width: 15px;
                height: 15px;
                background-color: transparent;
                transform: rotate(45deg);
                border-bottom: $border;
                border-right: $border;

                @include transition(all);
            }
        }

        .filter_items{
            transform: translateX(-200%);
            display: none;
            // position: absolute;
            margin-top: 131px;
            width: 355px;
            box-sizing: border-box;
            overflow: hidden;

            transition: 1s linear transform;

            label,
            .label{
                display: block;
                text-transform: capitalize;
                margin: 20px 0 12px 0;
            }

            input,
            select{
                box-sizing: border-box;
                padding: 10px 30px 10px 10px;
                width: 101%;
                border: $border;
                border-right: 3px solid transparent;

                margin-bottom: 10px;

                @include transition(all);

                &:hover,
                &:focus{
                    border: $border_accent;
                }
            }

            .radio_wrapper {
                cursor: pointer;

                input[type="radio"]{
                    display: none;
                }

                .imput_name{
                    position: relative;
                    display: inline-block;
                    align-items: center;
                    &:hover{
                        color: $text-accent-color;
                    }
                    &::before{
                        content: '';
                        width: 18px;
                        display: inline-block;
                        height: 18px;
                        border-radius: 50%;
                        border: 1px solid #000;
                        vertical-align: middle;
                        margin-right: 10px;
                        // background-color: $text-accent-color;
                        background-color: transparent;
                        @include transition(all);
                    }
                }

                input[type="radio"]:checked + .imput_name{
                    &::before{
                        background-color: $text-accent-color;
                        border: 1px solid #0000C3;
                    }
                }
                
            }

            .button{
                margin-top: 40px;
                input{
                    padding: 0px;
                    border: none;
                    margin-bottom: 0px;
                }
            }
        }

        &.active{
            border-right: $border;
            margin-right: 33px;

            .filter_button{
                &::before{
                    transform: rotate(225deg);
                    margin-top: -5px;
                }
            }

            .filter_items{
                display: block;
                transform: translateX(0%);
            }
        }
    }
}

@media screen and (max-width:850px) {
    .discussions_page,
    .members_page{
        .filter{

            .filter_items{
                width: 255px;
            }

            
        }
    }
}
@media screen and (max-width:670px) {
    .discussions_page,
    .members_page{
        flex-wrap: wrap;
    }
    .discussions_page,
    .members_page{
        .filter{
            width: 100%;
            padding-bottom: 50px;

            .filter_items{
                width: 100%;

                input,
                select{
                    width: 100%;
                    border-right: 3px solid #000;
                }
            }

            &.active{
                border-right: none;
                // border-bottom: $border;
                // border-left: $border;
                background-color: #fff;
                margin-right: 0px;
                // padding: 0px 0 20px 0 ;
                &::after{
                    content: '';
                    width: 400%;
                    left: -100%;
                    height: 3px;
                    background-color: #000;
                    position: absolute;
                    bottom: 0;
                }
            }
        }
    }
}









.border_buttom{
    padding-bottom: 100px;
    border-bottom: $border_accent;
}
.notification{
    display: block;
    width: 70%;
    margin: 100px auto 0 auto;
    padding: 40px 20px;
    border: $border-accent;
    text-align: center;
    color: $text-accent-color;
    box-sizing: border-box;
}

@media screen and (max-width:850px) {
    .notification{
        width: 100%;
    }
}
// end base 