// start discussion 
.discussion_info{
    display: flex;

    .members_item{
        margin-top: 33px;
        width: 160px;

        .name{
            text-align: left;
        }

        .img_wrapper{
            &::after{
                background-color: #000;
            }

            img{
                opacity: 1;
            }
        }

        &:hover{
            .img_wrapper{
                &::after{
                    background-color: $text-accent-color;
                }
            }
        }
    }

    .info_block{
        display: flex;
        justify-content: flex-start;

        align-items: flex-start;

        margin-left: 50px;

        .item{
            color: #fff;
            text-align: center;
            vertical-align: middle;
            align-items: center;
            border: $border;
            margin-top: -3px;

            font-size: 16px;
            
            padding: 40px 30px 30px 30px;

            box-sizing: border-box;
            height: auto;

            &:nth-child(1){
                background-color: $red-accent-color;
            }
            &:nth-child(2){
                background-color: $blue-accent-color;
                border-right: 3px solid transparent;
                border-left: 3px solid transparent;
            }
            &:nth-child(3){
                background-color: $orange-accent-color;
            }
        }
    }
}

.discussion_page{
    padding-bottom: 50px;
    // border-bottom: $border;
}

.discussion_text{
    display: block;
    width: 70%;
    margin-top: 50px;
    .title{
        font-size: 64px;
        color: $text-accent-color;
        margin-bottom: 30px;
    }
    p{
        margin-bottom: 20px;
    }

    .file{
        position: relative;
        display: inline-block;
        margin-top: 50px;
        // width: 30%;
        width: auto;

        @include transition(all);
        
        span{
            display: inline-block;
            // width: 25%;
            width: 250px;
            vertical-align: middle;
            margin-left: 50px;
            color: $text-accent-color;

            @include transition(all);
        }
        &::before{
            content: '';
            width: 102px;
            height: 138px;
            display: inline-block;
            background-image: url(../img/icon_file.svg);
            background-repeat: no-repeat;
            background-size: contain;
            vertical-align: middle;

            @include transition(all);
        }

        &:hover{
            span,
            &::before{
                opacity: 0.5;
            }
        }
    }
}

@media screen and (max-width:1100px) {
    .discussion_text{
        width: 100%;
    }
}
@media screen and (max-width:773px) {
    .discussion_info{
        flex-wrap: wrap;


        .info_block{
            width: 100%;
            order: 1;
            margin-left: 0;
        }

        .members_item{
            order: 2;
            display: flex;
            width: 45%;

            .name{
                margin-left: 30px;
            }
        }
    }
}
@media screen and (max-width:662px) {
    .discussion_info{
        .members_item{
            width: 60%;
        }
    }
    .discussion_text .title{
        font-size: 45px;
    }
}
@media screen and (max-width:560px) {
    .discussion_info{
        .members_item{
            width: 75%;
        }
    }
}
@media screen and (max-width:563px) {
    .discussion_info{
        .info_block{
            .item{
                padding: 40px 0px;
                width: auto;
                
                span{
                    text-align: left;
                    width: 90%;
                    font-size: 14px;
                    align-items: flex-start;
                }

                &:nth-child(1){
                    width: 20%;
                }
                &:nth-child(3){
                    width: 40%;
                }

                &:nth-child(2){
                    width: 40%;
                }
            }
        }
    }
}
@media screen and (max-width:470px) {
    .discussion_text {
        .like{
            margin: 80px auto 0 auto;
        }
        .file{
            &::before{
                margin: 0 auto;
                display: block;
            }
            span{
                display: block;
                margin-left: 0;
                width: 80%;
                text-align: center;
                margin: 20px auto 0 auto;
            }
        }
    }
}
@media screen and (max-width:400px) {
    .discussion_info{
        .members_item{
            width: 100%;
        }
    }
    .discussion_info{
        .info_block{
            flex-wrap: wrap;
            .item{
                padding: 40px 0px;
                width: auto;
                
                span{
                    text-align: left;
                    width: 90%;
                    font-size: 14px;
                    align-items: flex-start;
                }

                &:nth-child(1),
                &:nth-child(2){
                    width: 50%;
                }
                &:nth-child(2){
                    border-right: $border;
                }

                &:nth-child(3){
                    width: 100%;
                }
            }
        }
    }
}







.comments{
    width: 65%;
    .h2{
        color: #000;
    }

    .form_block{
        // width: 65%;
        box-sizing: border-box;
        overflow: hidden;

        margin-bottom: 80px;
        display: block;
    }

    textarea{
        box-sizing: border-box;
        width: 100%;
        height: 250px;
        border: $border;
        padding: 40px 20px;

        font-family: $main-font;

        resize: none;

        @include transition(all);

        &:hover,
        &:focus{
            border: $border_accent;
        }
    }

    .button{
        float: right;
        cursor: pointer;

        margin-top: -5px;
        input{
            border: none;
        }
    }
}
@media screen and (max-width:800px) {
    .comments{
        width: 100%;
    }
}




.comment{
    border: $border;

    margin: 40px 0;

    width: 86%;
    .info{
        border-bottom: $border;

        align-items: center;

        position: relative;
        display: flex;

        .info_text{
            display: flex;
            justify-content: space-between;
            width:90%;
            padding: 0 20px;
        }
        

        .img_wrapper{
            display: inline-block;
            border-right: $border;
            width: 74px;
            height: 90px;
            align-items: center;
            vertical-align: middle;
        }

        .name{
            color: #000;
            display: inline-block;
            align-items: center;
            vertical-align: middle;
            // margin-left: 10px;

            font-size: 14px;
        }

        .date{
            font-size: 10px;
            // float: right;

            // margin-top: 50%;
        }
    }

    .comment_text{
        padding: 25px 20px 50px 20px;
    }
}

@media screen and (max-width:470px) {
    .comment{
        width: 100%;
    }
}
@media screen and (max-width:460px) {
            .comment{
                width: 100%;
                .info {

                    .info_text{
                        flex-wrap: wrap;
                        padding: 5px;

                        .name{
                            width: 100%;
                        }
                        .date{
                            margin-top: 10px;
                            width: 100%;
                        }
                    }
                }
            }
        }
    

// end discussion 