// start statistics 
.statistics{
    display: flex;

    .item{
        display: flex;

        flex-grow: 1;


        .item_title{
            background-color: $text-color;
            color: #fff;
            font-size: 20px;
            padding: 25px 13px;
            width: 48%;
            
            span{
                display: block;
                width: 100%;
                text-transform: uppercase;
            }
        }

        .item_number{
            width: 52%;
            padding: 128px 10px 13px 30px;
            vertical-align: bottom;
            text-align: left;
            color: #fff;

            span{
                font-size: 100px;
            }
        }

        &:nth-child(1){
            background-color: $red-accent-color;
        }
        &:nth-child(2){
            background-color: $blue-accent-color;
        }
        &:nth-child(3){
            background-color: $orange-accent-color;
        }
        &:nth-child(4){
            background-color: $red-accent-color;
        }
    }
}

@media screen and (max-width:1930px) {
    .statistics .item {
        .item_title{
            width: 60%;
        }

        .item_number{
            width: 40%;
            span{
                font-size: 60px;
            }
        }
    }
}
@media screen and (max-width:1700px) {
    .statistics{
        flex-wrap: wrap;
    }
    .statistics .item {
        border-bottom: 3px solid #fff;
        width: 50%;
        .item_title{
            // width: 100%;
        }

        .item_number{
            // width: 100%;
            span{
                font-size: 60px;
            }
        }
    }
}
@media screen and (max-width:800px) {
    .statistics .item {
        width: 100%;
    }
}
@media screen and (max-width:410px) {
    .statistics .item{
        .item_number{
            // width: 100%;
            padding: 128px 10px 13px 20px;
            span{
                font-size: 55px;
            }
        }
    }
}
// end statistics 