.tagline{
    display: flex;
    flex-wrap: nowrap;
    border-top: 3px solid $text-accent-color;
    border-bottom: 3px solid $text-accent-color;
    padding: 65px 0;
    background-color: #fff;
    position: relative;


    align-items: center;

    box-sizing: border-box;

    .items_block{
        animation: tagline 18s infinite linear;
        @include transition(all);
        margin: 0 auto;
    }
    .item{
        color: $text-accent-color;
        font-size: 32px;
        text-transform: capitalize;
        display: inline;
        margin: 0 44px;

        &::before{
            content: '';
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: $text-accent-color;
            vertical-align: middle;
            margin-right: 10px;

        }


    }
}

@keyframes tagline {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%);}
  }